@font-face {
    font-family: Neue Montreal;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueMontreal-Medium.woff2) format("woff2"), url(../fonts/NeueMontreal-Medium.woff) format("woff")
}

::selection {
    background-color: #272727;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neue Montreal, sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(212, 203, 201);
}

.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: 1px solid #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem;
    width: calc(100% - 5rem);
    position: absolute;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    width: 100%;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    margin-top: 10px;
}

.menu-btn__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.xsmenu svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.xsmenu svg * {
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.xsmenu ul {
    display: none;
}

body.menu-open {
    overflow: hidden;
}

.menu-open {
    display: block;
}

.menu-open .xsmenu svg :nth-child(1) {
    transform: rotate(45deg);
    transform-origin: center;
}

.menu-open .xsmenu svg :nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: center;
}

.menu-open .xsmenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 2;
}

.menu-open ul li {
    font-size: 2.6rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.5rem;
    cursor: pointer;
    list-style: none;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.menu-open ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    display: inline-block;
    rotate: 7deg;
    animation: appear 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    55% {
        rotate: 3deg;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        rotate: 0deg;
    }
}

.menu-open ul li a:hover {
    color: #ffffff;
    background: #504747;
}

.menu-open ul li a:active {
    color: #ffffff;
    background: #000000;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

h1 {
    /*font-size: 12rem;*/
    font-size: clamp(72px, calc(390/2000 * 100vw), 200px);
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    align-self: end;
    padding-bottom: 3.5rem;
    display: block;
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    transition: opacity 0s cubic-bezier(.215,.61,.355,1),transform 0s cubic-bezier(.215,.61,.355,1);
}

body.is-loaded .main h1 {
    opacity: 1;
    transform: none;
    transition-duration: 800ms;
    position: relative;
    z-index: 1;
    cursor: default;
}

.itl:hover {
    font-style: italic;
}

.cld {
    width: -moz-available;
    width: -webkit-fill-available;
    position: absolute;
    right: -36px;
    height: 95%;
    width: 121%;
    display: flex;
    justify-content: end;
}

.cld::after {
    content: "";
    display: block;
    background-color: rgb(212, 203, 201);
    height: 25%;
    width: 200px;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.cld iframe {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    position: relative;
    right: -5%;
}

h2 {
    /*--font-size-h1: clamp(62px, calc(240/2000 * 100vw), 240px);*/
    /*--font-size-h2: clamp(40px, calc(210/2000 * 100vw), 210px);*/
    /*--font-size-h3: clamp(32px, calc(120/2000 * 100vw), 120px);*/
    /*--font-size-h4: clamp(26px, calc(60/1920 * 100vw), 60px);*/
    /*--font-size-h5: clamp(23px, calc(40/1920 * 100vw), 40px);*/
    /*font-size: 4.5rem;*/
    font-size: clamp(40px, calc(210/2000 * 100vw), 4.5rem);
    font-weight: 500;
    color: #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
}

h3 {
    font-size: clamp(32px, calc(120/2000 * 100vw), 3.5rem);
    font-weight: 500;
    color: #000000;
    padding-top: .5rem;
    display: inline-block;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    display: inline-block;
}

h4.price {
    font-size: clamp(32px, calc(60/1920 * 100vw), 3.5rem);
    font-weight: 500;
}

.r {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-block: 1px solid #000000;
    /*flex: 1;*/
    height: 520px;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: rgb(212, 203, 201);
    position: relative;

    font-size: 2rem;
    line-height: 1.5;
    line-grid:
}

.r .c:last-of-type {
    border-right: 1px solid #000000;
}

#t {
    cursor: none;
}

.c .i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5rem;
}

.c .info {
    /*display: none;*/
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(255, 255, 255);
    padding: 2.5rem;
    transition: top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s ease-in-out, color 0.2s ease-in-out, height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    color: transparent;
}

.c .i:hover + .info {
    display: flex;
    top: 0;
    height: 100%;
    color: black;
    background-color: #ffffff;
}

.info:hover {
    display: flex;
    top: 0;
    height: 100%;
    color: black;
    background-color: #ffffff;
}

.c:after {
    content: '';
    position: absolute;
    height: 51%;
    background-color: rgb(212, 203, 201);
    width: 100%;
    left: 0;
    top: calc(100% + 1px);
}

.curs {
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffffff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY1IiBoZWlnaHQ9IjE2MyIgdmlld0JveD0iMCAwIDE2NSAxNjMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxsaW5lIHgxPSI2OC43IiB5MT0iMiIgeDI9IjE2NC43IiB5Mj0iMiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjxsaW5lIHgxPSIxNjIuNyIgeTE9IjEwMCIgeDI9IjE2Mi43IiB5Mj0iNCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjxsaW5lIHgxPSIxNjIuNDA1IiB5MT0iMi40MjMwMiIgeDI9IjEuNDA1MzQiIHkyPSIxNjEuNDIzIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjQiLz4KPC9zdmc+Cg==);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 35%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.t {
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 1.5rem;
    flex: 4;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 6;
}

.column .row {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    padding-bottom: 0.35rem;
    padding-top: 1rem;
    border-bottom: 1px solid #000000;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.column .row:hover {
    color: #ffffff;
}

.column .row:hover .icon line {
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 10px;
    stroke: #FFFFFF;
}

.nmbr {
    display: inline-block;
    width: 13px;
    text-align: center;
}

.link {
    font-size: 1.5rem;
    font-weight: 600 !important;
    text-transform: uppercase;
    cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDE1OS41IDE2MS41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNTkuNSAxNjEuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MTc7fQ0KPC9zdHlsZT4NCjxsaW5lIGlkPSJzdmdfMSIgY2xhc3M9InN0MCIgeDE9IjYuOSIgeTE9IjE2LjEiIHgyPSIxNTUuMiIgeTI9IjE2LjEiLz4NCjxsaW5lIGlkPSJzdmdfMiIgY2xhc3M9InN0MCIgeDE9IjE0Ni45IiB5MT0iOC4yIiB4Mj0iMTQ2LjkiIHkyPSIxNTYuNSIvPg0KPGxpbmUgaWQ9InN2Z18zIiBjbGFzcz0ic3QwIiB4MT0iMTQ1IiB5MT0iMTYuMSIgeDI9IjguMSIgeTI9IjE1My41Ii8+DQo8L3N2Zz4NCg==) 20 5, auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem;
}

form .form-group label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.5rem;
}

form .form-group input {
    width: 100%;
    height: 3.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.5rem;
}

form .form-group textarea {
    min-width: 100%;
    max-width: 100%;
    height: 10rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.5rem;
}

form .form-group input[type="submit"] {
    width: 100%;
    height: 3.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
}

form .form-group input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
}



footer {
    min-height: 30vh;
    background-color: rgb(161, 154, 152);
    padding: 1.5rem;
    display: grid;
    flex-direction: column;
    align-content: center;
    /*justify-content: center;*/

}

footer h2 {
    place-self: end;
    margin-right: 181px;
}





@media (min-width: 768px) {

    header .menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    header .menu svg {
        display: none;
    }

    header .menu ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2.5rem;
    }

    header .menu ul li {
        list-style: none;
    }

    header .menu ul li a {
        text-decoration: none;
        color: #000000;
        font-size: 1.1rem;
        font-weight: 500;
    }

    header .menu ul li a:hover {
        /*text-decoration: blink;*/
        text-decoration: line-through;
    }

    header .menu .menu-item {
        font-size: 1.5rem;
        font-weight: 500;
        color: #000000;
        margin-left: 2.5rem;
    }

    header .menu .menu-item:hover {
        color: #000000;
    }

    .cld {
        right: 7%;
    }

    .cld iframe {
        transform: scale(1);
        width: 500px;
        right: 0;
    }

    .r {
        flex-direction: row;
    }

    .c:not(:last-child) {
        border-right: 0;
    }
}



